.flex-container {
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex {
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-item1 {
    background-color: white;
    width: 200px;
    margin: 200px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}
.flex-item2 {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    order: 0;
}

.div3 {
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
div:hover {
    flex-grow: 0.3;
}
div:hover  {
    background-color:teal;
}